h1
{
    color: Brown;
}

#container
{
    width: 600px;
    height: 600px;
    margin: auto;
    background-image: url(https://5.imimg.com/data5/GD/UW/MY-1664847/ground107-grass-pngb5434ae6-1965-41-500x500.jpg);
}

.row
{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
}

.dirt
{
    margin: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: brown;
    border: 10px solid #003300;
}

.mole{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 0px;
    background-position: center;
    background-size: 80px;
    background-image: url(http://www.stickpng.com/assets/images/59aeb65e32bcd87615d27986.png);
} 
